<p id="notice"><%= notice %></p>

<nav>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
  <%= link_to 'Back', portfolios_path %>
</nav>

<%= turbo_frame_tag dom_id(@portfolio) do %>
<!--  Change to display name once we have users-->
  <h1>Portfolio</h1>
  <p>
    <%= @portfolio.description %>
  </p>

<!--  <p>-->
<!--    <strong>Cta:</strong>-->
    <%#= @portfolio.cta %>
<!--  </p>-->

  <%= turbo_frame_tag "sections" do %>
    <% @portfolio.sections.each do |section| %>
      <%= render 'sections/section', :section => section %>
    <% end %>
  <% end %>

  <%= render 'menu', portfolio: @portfolio %>
<% end %>
