<p id="notice"><%= notice %></p>

<%= render 'section' %>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
<%= link_to 'View Portfolio', portfolio_path(1) %>
